<div class="section footer-scetion footer-lavendar">
  <div class="social-overlap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
            <li>Follow us</li>
            <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
            <li><a href="#"><em class="fab fa-twitter"></em></a></li>
            <li><a href="#"><em class="fab fa-youtube"></em></a></li>
            <li><a href="#"><em class="fab fa-github"></em></a></li>
            <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
            <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="gaps size-4x"></div>
  <div class="gaps size-2x d-none d-sm-block"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-3 res-m-bttm">
        <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2" href="./">
          <img class="logo logo-light" alt="logo" src="assets/logo-full-white.png" srcset="assets/logo-full-white2x.png 2x">
        </a>
      </div><!-- .col  -->
      <div class="col-sm-4 col-lg-2 res-l-bttm">
        <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
          <li><a href="#token" class="menu-link">Tokens Sales</a></li>
          <li><a href="#roadmap" class="menu-link">Roadmap</a></li>
          <li><a href="#about" class="menu-link">What is ICOX</a></li>
          <li><a href="#why" class="menu-link">why / How ?</a></li>
          <li><a href="#media" class="menu-link">Media</a></li>
        </ul>
      </div><!-- .col  -->
      <div class="col-sm-4 col-lg-2 res-l-bttm">
        <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
          <li><a href="#team" class="menu-link">Teams</a></li>
          <li><a href="#about" class="menu-link">About</a></li>
          <li><a href="#contact" class="menu-link">Contact</a></li>
          <li><a href="#faq" class="menu-link">Faqs</a></li>
          <li><a href="#subscribe" class="menu-link">Join Us</a></li>
        </ul>
      </div><!-- .col  -->
      <div class="col-sm-4 col-lg-3">
        <ul class="address-widget animated" data-animate="fadeInUp" data-delay=".5">
          <li>1330 Cooks Mine Road <br> Twin Lakes, Mexico - 86515</li>
          <li>+505-735-0177</li>
          <li>hello@icocrypto.nio</li>
        </ul>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->
  
  <hr class="hr-line"><!-- .hr-line  -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <span class="copyright-text">
          Copyright &copy; 2018, ICO Crypto. Template Made By <a href="http://softnio.com" target="_blank">Softnio</a> &amp; Handcrafted by iO.
        </span>
      </div><!-- .col  -->
      <div class="col-md-5 text-right mobile-left">
        <ul class="footer-links">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->
  <div class="gaps size-2x"></div>
</div>
