<div class="section footer-scetion section-bg-scale-3">
  <div class="social-overlap">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-10">
          <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
            <li>Follow us</li>
            <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
            <li><a href="#"><em class="fab fa-twitter"></em></a></li>
            <li><a href="#"><em class="fab fa-youtube"></em></a></li>
            <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <div class="gaps size-4x"></div>
  <div class="gaps size-2x d-none d-sm-block"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-3 res-m-bttm">
        <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2" href="/">
          <%= image_tag "logo2x.png", class:"logo logo-light", alt:"logo" %>
        </a>
      </div><!-- .col  -->
      <div class="col-sm-4 col-lg-2 res-l-bttm">
        <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
          <li><a href="#about" class="menu-link">About Staple</a></li>
          <li><a href="#howitworks" class="menu-link">How it Works</a></li>
          <li><a href="#features" class="menu-link">Features and Benefits</a></li>
        </ul>
      </div><!-- .col  -->
      <div class="col-sm-4 col-lg-2 res-l-bttm">
        <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
          <li><a href="#team" class="menu-link">Team</a></li>
          <li><a href="#subscribe" class="menu-link">Subscribe to Beta</a></li>
          <li><a href="mailto:hello@staple.io">Contact Us</a></li>
        </ul>
      </div><!-- .col  -->
      <div class="col-sm-4 col-lg-3">
        <ul class="address-widget animated" data-animate="fadeInUp" data-delay=".5">
          <li>32 Carpenter Street <br>
            SG Innovate <br>
            Singapore 059911 <br>
            <a href="mailto:hello@staple.io">hello@staple.io</a>
          </li>
        </ul>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <span class="copyright-text">
          Copyright &copy; 2018, Staple.io.
        </span>
      </div><!-- .col  -->
      <div class="col-md-5 text-right mobile-left">
        <ul class="footer-links">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->
  <div class="gaps size-2x"></div>
</div>
