<!-- Header --> 
<header class="site-header is-sticky">
  <!-- Place Particle Js -->
    <div id="particles-js" class="particles-container particles-js"></div>
      
  <!-- Navbar -->
  <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
    <nav class="container">
      <a class="navbar-brand" href="./">
        <%= image_tag "logo.png", class: "logo logo-dark", alt: "logo" %>
        <%= image_tag "logo-full-white.png", class: "logo logo-light", alt: "logo" %>
      </a>
        
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
        <span class="navbar-toggler-icon">
          <span class="ti ti-align-justify"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link menu-link" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link menu-link" href="#why">Why &amp; How ?</a></li>
          <li class="nav-item"><a class="nav-link menu-link" href="#team">Team</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">MORE</a>
            <div class="dropdown-menu">
              <a class="dropdown-item menu-link" href="#faq">Faqs</a>
              <a class="dropdown-item menu-link" href="#media">Press</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- End Navbar -->

  <!-- Banner/Slider -->
  <div id="header" class="banner">
    <div class="banner-rounded-bg">
      <span class="banner-shade-1">
        <span class="banner-shade-2">
          <span class="banner-shade-3"></span>
        </span>
      </span>
    </div>
    <div class="container">
      <div class="banner-content">
        <div class="row text-center">
          <div class="col-lg-12">
            <div class="header-txt">
              <h1>ICO Template <span>designed by</span> iO<br   class="d-none d-xl-block"> <span>and for</span> blockchain developer <span>or</span> ICO Startups</h1>
              <p class="lead">ICO Crypto is the best selling, modern, clean and elegant design, created for ICO<br class="d-none d-xl-block"> development agencies. It’s Include all necessary features that fit for ICOs.</p>
            </div>
          </div><!-- .col  -->
        </div><!-- .row  -->
      </div><!-- .banner-content  -->
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <span class="warnning-badge large">ROUND ONE</span>
          <div class="gaps"></div>
          <h4>ICO Pre-Sale is live</h4>
          <div class="gaps size-0-5x"></div>
          <div class="token-box shadow">
            <h6 class="small-text">Round one sales ends in:</h6>
            <div class="token-countdown d-flex align-content-stretch" data-date="2018/09/05"></div>
            <ul class="token-details">
              <li>0 ICOX</li>
              <li>1 ETH = 50 ICOX, BTC = 250 ICOX</li>
              <li>50000 ICOX</li>
            </ul>
            <div class="token-bar">
              <div class="token-percent" style="width:40%;">16899.49 ICOX</div>
              <span class="token-point token-point-1" style="left:25%;">Soft Cap</span>
              <span class="token-point token-point-2" style="left:75%;">Hard Cap</span>
            </div>
            <ul class="btns">
              <li><a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="btn btn-simple video-play"> <em class="fa fa-play"></em> Watch Video</a></li>
              <li><a href="#" class="btn btn-alt btn-lg">BUY TOKEN NOW</a></li>
              <li><a href="#" class="btn btn-simple"> <em class="fa fa-file"></em> Whitepaper</a></li>
            </ul>
            <ul class="icon-list">
              <li>We Accepted :</li>
              <li><em class="fab fa-bitcoin"></em></li>
              <li><em class="fas fa-pound-sign"></em></li>
              <li><em class="fas fa-dollar-sign"></em></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- .container  -->
  </div>
</header>
<!-- End Header -->