<div class="section section-pad section-bg-blend nopb" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
          <%= image_tag "graph-dark-a.png", alt: "graph" %><br/><br/><br/><br/><br/><br/>
        </div>
      </div><!-- .col  -->
      <div class="col-md-6 order-md-first order-last">
        <div class="text-block">
          <h2 class="animated" data-animate="fadeInUp" data-delay="0">Contracts and commitments <br> that manage themselves.</h2>
          <p class="animated" data-animate="fadeInUp" data-delay=".1">Effective contract management is imperative, but consumes time and resources. </p>
          <p class="animated" data-animate="fadeInUp" data-delay=".2">Manual contract management is extremely inefficient. Worse, traditional contract management solutions are little more than databases that send reminders for contract renewals.</p>
          <p class="animated" data-animate="fadeInUp" data-delay=".3">Businesses use our technology to effortlessly enforce contractual commitments and autonomously deliver continuous, real-time accounting.</p>
          <!-- <a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="play-btn video-play animated" data-animate="fadeInUp" data-delay=".2">
            <em class="play"><span></span></em>
            <span>Watch Video</span>
            <span>What and How it work</span>
          </a> -->
          <br/><br/><br/><br/><br/><br/><br/>
        </div>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .conatiner  -->
</div>