<div class="section about-section section-pad no-pb section-bg-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="about-section-innr section-bg-lavendar">
          <div class="about-shade"></div>
          <h6 class="animated" data-animate="fadeInUp" data-delay=".2">About ICOX Coin</h6>
          <h3 class="animated" data-animate="fadeInUp" data-delay=".3">ICOX <span>is a decentralized currency that trades and invest with powerful</span> blockchain applications.</h3>
          <p class="animated" data-animate="fadeInUp" data-delay=".4">ICO Crypto is a platform for future of funding that powering the new blockchain. </p>
          <p class="animated" data-animate="fadeInUp" data-delay=".5">ICOX Coin is a cryptocurrency designed for unde omnis iste natus error sit voluptatem accus antium doloremque laudant aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p class="animated" data-animate="fadeInUp" data-delay=".6">After seriously considering eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="about-info animated" data-animate="fadeInUp" data-delay=".7">
            <em class="ti ti-rocket"></em>
            <p>Pre-ICO ICOX Coin has already secured over 30 partnerships worldwide, with more partnerships being finalized each day.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="about-image animated" data-animate="fadeInUp" data-delay=".8">
          <%= image_tag "graph-lavendar-a.png", alt: "graph" %>
        </div>
      </div>
    </div>
  </div>
</div>
