<!-- Start Section -->
<div class="section process-scetion section-pad section-bg-blend-benefits nopb" id="benefits">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">How Staple Works</h2>
    </div>
    <div class="row align-items-center">
      
        <br/><br/><br/><br/><br/><br/>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->
</div>
<!-- End Section --> 