<!-- Start Section -->
  <div class="section section-pad no-pb section-bg" id="features">
    <div class="container">
      <div class="section-head-s3 text-center">
        <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">How Businesses Benefit</h2>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
          <div class="res-m-btm">
            <%= image_tag "/assets/graph-jasmine-b.png", alt: "graph" %>
          </div>
        </div><!-- .col  -->
        <div class="col-md-6 order-md-first order-last">
          <div class="text-block">
              <h6 class="heading-sm-s2">power of Blockchain</h6>
            <h2>Tokenization Benefits</h2>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Cryptocurrencies are Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium, totam rem.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun quis nostrut.</p>
          </div>
        </div><!-- .col  -->
      </div><!-- .row  -->
    </div><!-- .conatiner  -->
  </div>
  <!-- Start Section -->
  <div class="section section-pad no-pb section-bg">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
          <div class="res-m-btm">
            <img src="images/jasmine/graph-jasmine-c.png" alt="graph">
          </div>
        </div><!-- .col  -->
        <div class="col-md-6">
          <div class="text-block">
              <h6 class="heading-sm-s2">Glogal Community</h6>
            <h2>The ICO Community</h2>
            <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</p>
          </div>
        </div><!-- .col  -->
      </div><!-- .row  -->
    </div><!-- .conatiner  -->
  </div>
  <!-- Start Section -->
  <div class="section section-pad section-bg">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-5">
          <div class="res-m-btm">
            <img src="images/jasmine/graph-jasmine-d.png" alt="graph">
          </div>
        </div><!-- .col  -->
        <div class="col-md-6 order-md-first order-last">
          <div class="text-block">
              <h6 class="heading-sm-s2">ensure a safe</h6>
            <h2>Adaptive Smart Contracts</h2>
                        <p>Mostly due to sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Cryptocurrencies are Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun quis nostrut.</p>
          </div>
        </div><!-- .col  -->
      </div><!-- .row  -->
    </div><!-- .conatiner  -->
  </div>
  <!-- Start Section -->