<div class="section features-section section-pad no-pb section-bg-lavendar">
  <div class="shade-wraper">
    <div class="container">
      <div class="shade-left"></div>
      <div class="shade-right"></div>
    </div>
  </div>
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">ICO Wallet Feature</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 order-lg-0 order-md-0">
        <div class="gaps"></div>
        <div class="features-item left animated" data-animate="fadeInUp" data-delay=".2">
          <em class="ti ti-wallet"></em>
          <h5>Manage your Wallet</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="features-item left animated" data-animate="fadeInUp" data-delay=".3">
          <em class="ti ti-gift"></em>
          <h5>Reward &amp; Bonus</h5>
          <p>Eiusmod temvpor incididunt ut labore et dolore magna, omet enim ad minim veniam nostrud exerc itation oeme ullam.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 order-lg-1 order-md-2 order-last mt-auto text-center">
        <div class="features-photo animated" data-animate="fadeInUp" data-delay=".6">
          <img src="images/mobile-app-a.png" alt="mobile app">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 order-lg-2 order-md-1">
        <div class="gaps"></div>
        <div class="features-item animated" data-animate="fadeInUp" data-delay=".4">
          <em class="ti ti-world"></em>
          <h5>Global Tradding</h5>
          <p>Eiusmod tempor incid idunt ut labore et dolore magna ad minim veni ioam nostrud exerc itation oeme ullam.</p>
        </div>
        <div class="features-item animated" data-animate="fadeInUp" data-delay=".5">
          <em class="ti ti-id-badge"></em>
          <h5>Stay with Friend </h5>
          <p>Yoing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ad minim veniam nostrud exerc itation</p>
        </div>
      </div>
    </div>
  </div><!-- .container  -->
</div>