<!-- Start Section -->
  <div class="section section-pad no-pb section-bg" id="features">
    <div class="container">
      <div class="section-head-s3 text-center">
        <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">How Businesses Benefit</h2>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
          <div class="res-m-btm">
            <%= image_tag asset_url("jasmine/graph-jasmine-c.png"), alt: "graph" %>
          </div>
        </div><!-- .col  -->
        <div class="col-md-6 order-md-first order-last">
          <div class="text-block">
            <h6 class="heading-sm-s2">Powered by Natural Language Processing</h6>
            <h2>Understand Commitments Precisely and in Real Time</h2>
            <p>Staple's AI-driven platform consistently monitors the commitments you make, the commitments made to you and the delivery of those commitments. The system integrates with existing ERPs, accounting systems and email traffic to monitor for completion of commitments, orders and contracts. </p>
            <p>Using machine learning and natural language processing (NLP), Staple continously reviews contracted work against completed work to ensure that obligations have been fully discharged. Our real-time dashboard captures every contract your business formalises and every work activity that your business completes. Our system gives you certainty of where your business stands at any point in time.</p>
          </div>
        </div><!-- .col  -->
      </div><!-- .row  -->
    </div><!-- .conatiner  -->
  </div>
  <!-- Start Section -->
  <div class="section section-pad no-pb section-bg">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
          <div class="res-m-btm">
            <%= image_tag asset_url("jasmine/graph-jasmine-b.png"), alt: "graph" %>
          </div>
        </div><!-- .col  -->
        <div class="col-md-6">
          <div class="text-block">
              <h6 class="heading-sm-s2">Accelerated by Robotic Process Automation</h6>
            <h2>Complete Automation of the Accounting Function</h2>
            <p>Staple understands the context of contractual commitments, and it immediately interprets the financial impact of these commitments. The platform extracts the financial and risk impact of every commitment made and delivered. <br/><br/>For every contractual event, Staple instantaneously assigns Robotic Process Automation (RPA) tasks to automate accounting actvities across the enterprise. Staple integrations can generate invoices, chase payments and perform reconciliations without any involvement from your Finance team. Because Staple intelligently reviews work completed against contracts, our platform can make accounting accruals and deferrals without human intervention.</p>
            <p></p>
          </div>
        </div><!-- .col  -->
      </div><!-- .row  -->
    </div><!-- .conatiner  -->
  </div>
  <!-- Start Section -->
  <div class="section section-pad section-bg">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-5">
          <div class="res-m-btm">
            <%= image_tag asset_url("jasmine/graph-jasmine-d.png"), alt: "graph" %>
          </div>
        </div><!-- .col  -->
        <div class="col-md-6 order-md-first order-last">
          <div class="text-block">
              <h6 class="heading-sm-s2">Protected by Military-Grade Encryption</h6>
            <h2>Faster Results, Fewer Errors and a Secure Audit Trail</h2>
              <p>Our RPA-powered digital workforce closes orders, issues invoices and prepares reconciliations on your behalf. Where the system believes human intervention to be necssary, it identifies exceptions and errors and submits them to your Finance team for review. Say goodbye to tedious reconciliations and manual month-end closure processes.</p>
              <p>For each individual transaction, relevant documentation is linked, sealed and stored together, using military grade encryption. This ensures a cryptographically secure audit trail that can be accessed at a later date, making internal and external audit procedures a breeze.</p>
          </div>
        </div><!-- .col  -->
      </div><!-- .row  -->
    </div><!-- .conatiner  -->
  </div>
  <!-- Start Section -->