<!-- Start Section -->
<div class="section process-scetion section-pad section-bg-blend-how nopb" id="howitworks">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated header-dark" data-animate="fadeInUp" data-delay=".1">How Staple Works</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="slider-nav">
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".4"><i class="fa fa-comments fa-stack-2x"></i></div>
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".4"><i class="fa fa-microchip fa-stack-2x"></i></div>
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".4"><i class="fa fa-chart-bar fa-stack-2x"></i></div>
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".4"><i class="fa fa-list-ol fa-stack-2x"></i></div>
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".4"><i class="fa fa-check-circle fa-stack-2x"></i></div>
        </div>
        <br/><br/><br/><br/><br/><br/>
      </div><!-- .col  -->
      <div class="col-lg-5">
        <div class="slider-pane animated" data-animate="fadeInUp" data-delay=".7">
          <div class="slider-pane-item text-block">
            <h5 class="animate-up delay-5ms header-dark">Capture contracts, orders and agreements</h5>
            <p class="animate-up delay-6ms header-dark">
              Our platform uses natural language processing (NLP) to understand and interpret contracts, orders and agreements. Staple's NLP process uses artificial intelligence to extract the key commitments made by all counterparties to a contract, order or agreement. <br/><br/>Staple's platform then ensures that the commitments of both counterparties are cryptographically sealed, logged and monitored for future performance. 
            </p>
          </div>
          <div class="slider-pane-item pane-item-2 text-block">
            <h5 class="animate-up delay-5ms header-dark">Interpret into actionable data points</h5>
            <p class="animate-up delay-6ms header-dark">Staple understands the financial, accounting and risk implications of every commitment your business makes. It also understands the implications of the commitments that other parties make to your business. <br/><br/>Staple records these commitments into actionable data such as debit or credit entries, risk red flags or reminders for late payment.</p>
          </div>
          <div class="slider-pane-item pane-item-3 text-block">
            <h5 class="animate-up delay-5ms header-dark">Convert into financial and risk insights</h5>
            <p class="animate-up delay-6ms header-dark">Our uniquely designed executive dashboard delivers accruate real-time insights regarding financial position, financial performance and risk exposure stemming from your business commitments.</p>
            <p class="animate-up delay-6ms">Staple doesn't just provide insights for any given point in time, it also utilises predictive analytics to provide forecasts of future accessible cash and working capital.</p>
          </div>
          <div class="slider-pane-item pane-item-4 text-block">
            <h5 class="animate-up delay-5ms header-dark">Listen and log performance</h5>
            <p class="animate-up delay-6ms header-dark">Staple integrates with your business's ERP, IMS, accounting systems and where necessary, IoT sensors. It listens for deliveries of goods and for completion of agreed-upon services and activities. The system recognises the completion of activities in the real world and how those activities correlate with contracted commitments. This ensures that your business understands the status of its obligations at any given point in time, all the time.</p>
          </div>
          <div class="slider-pane-item pane-item-5 text-block">
            <h5 class="animate-up delay-5ms header-dark">Monitor, fulfil and record  commitments</h5>
            <p class="animate-up delay-6ms header-dark">Staple utilises robotic process automation (RPA) to provide your business with a fully responsive digital workforce. Your digital workforce responds to real world events such as delivery or job completion, and in response, can close orders, issue invoices or chase outstanding payments.</p>
          </div>
        </div>
        <br/><br/><br/><br/><br/><br/>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->
</div>
<!-- End Section --> 