<div class="section media-scetion no-pb section-pad section-bg-light" id="media">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Media Says About Us</h2>
    </div>
    <div class="has-carousel animated" data-animate="fadeInUp" data-delay=".2" data-items="3" data-dots="true" data-navs="false">
      <div class="media-box">
        <img src="images/partner-md-c.png" alt="media">
        <h5 class="media-heading"><a href="#">ICOX coin build with modern blockchain technology</a></h5>
        <p>Energy dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="media-box">
        <img src="images/partner-md-b.png" alt="media">
        <h5 class="media-heading"><a href="#">ICOX coin is more powerful cryptocurrencies</a></h5>
        <p>Digital coin untsed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
      </div>
      <div class="media-box">
        <img src="images/partner-md-a.png" alt="media">
        <h5 class="media-heading"><a href="#">How &amp; Where To Market Your ICO Startup Business</a></h5>
        <p>Business idea sunt in minim veniam, quis nostrud exercitation ullamco laboris ea commodo conseq.</p>
      </div>
      <div class="media-box">
        <img src="images/partner-md-d.png" alt="media">
        <h5 class="media-heading"><a href="#">ICOX coin build with modern blockchain technology</a></h5>
        <p>Energy dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="media-box">
        <img src="images/partner-md-e.png" alt="media">
        <h5 class="media-heading"><a href="#">ICOX coin is more powerful cryptocurrencies</a></h5>
        <p>Digital coin untsed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
      </div>
    </div>
  </div>
</div>
