<!-- Start Section -->
<div class="section process-scetion section-pad section-bg-light">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">How ICOX Works?</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="slider-nav">
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".2"><em class="ikon ikon-paricle"></em></div>
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".3"><em class="ikon ikon-connect"></em></div>
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".4"><em class="ikon ikon-target"></em></div>
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".5"><em class="ikon ikon-shiled"></em></div>
          <div class="slider-nav-item owl-dots animated" data-animate="fadeInUp" data-delay=".6"><em class="ikon ikon-id-card"></em></div>
        </div>
      </div><!-- .col  -->
      <div class="col-lg-5">
        <div class="slider-pane animated" data-animate="fadeInUp" data-delay=".7">
          <div class="slider-pane-item pane-item-1">
            <h5 class="animate-up delay-5ms">Build blockchain algotrading models.</h5>
            <p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
          </div>
          <div class="slider-pane-item pane-item-2">
            <h5 class="animate-up delay-5ms">Connect with others blockchain mod.</h5>
            <p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
          </div>
          <div class="slider-pane-item pane-item-3">
            <h5 class="animate-up delay-5ms">Target your goal to reach out.</h5>
            <p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
          </div>
          <div class="slider-pane-item pane-item-4">
            <h5 class="animate-up delay-5ms">Protect your blockchain models.</h5>
            <p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
          </div>
          <div class="slider-pane-item pane-item-5">
            <h5 class="animate-up delay-5ms">Make transaction easy and with a less fee.</h5>
            <p class="animate-up delay-6ms">We build the algotrading models tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliqu am quaerat voluptatem. Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat volup  tatem. Ut enim ad minima veniam, quis nostrum exercitation em ullam corporis suscipit laboriosam.</p>
          </div>
        </div>
      </div><!-- .col  -->
    </div><!-- .row  -->
  </div><!-- .container  -->
</div>
<!-- End Section --> 