<div class="section reason-section no-pb section-pad section-bg-light" id="why">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Why Choose us?</h2>
    </div>
    <div class="shadow round-md plr-x4">
      <div class="gaps size-2x"></div>
      <div class="row text-center">
        <div class="col-md-6 res-m-bttm">
          <div class="reason-item animated" data-animate="fadeInUp" data-delay=".2">
            <img src="images/lavender-icon-a.png" alt="lav">
            <h5>Secured User Data</h5>
            <p>We protect user data and emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
          </div>
        </div>
        <div class="col-md-6 res-m-bttm">
          <div class="reason-item animated" data-animate="fadeInUp" data-delay=".3">
            <img src="images/lavender-icon-b.png" alt="lav">
            <h5>Most Credibility</h5>
            <p>Most authentically sed do eiusmod tempor incididunt ut labore et dolore magna aliqua cillum dolore eu fugiat ut labore et pariatur.</p>
          </div>
        </div>
        <div class="col-md-6 res-m-bttm">
          <div class="reason-item animated" data-animate="fadeInUp" data-delay=".4">
            <img src="images/lavender-icon-c.png" alt="lav">
            <h5>Flexibility &amp; Easy to Use</h5>
            <p>You can trade &amp; invest toekn oluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere poss, omnis voluptas.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="reason-item animated" data-animate="fadeInUp" data-delay=".5">
            <img src="images/lavender-icon-d.png" alt="lav">
            <h5>Big Data Insights</h5>
            <p>Our machines learning are able tosed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
        </div>
      </div><!-- .row  -->
      <div class="gaps size-2x"></div>
    </div>
  </div><!-- .container  -->
</div>