<div class="section section-pad roadmap-section no-pb section-bg-light" id="roadmap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="section-head-s3 text-center">
          <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Roadmap</h2>
          <p class="animated" data-animate="fadeInUp" data-delay=".2">With help from our teams, contributors and investors these are the milestones we are looking forward to achieve.</p>
        </div>
      </div>
    </div>
    <div class="roadmap-carousel-container animated" data-animate="fadeInUp" data-delay=".3" >
      <div class="roadmap-carousel">
        <div class="roadmap-item roadmap-done">
          <h6>March 2018</h6>
          <p>Start of the ICO Crypto Platform Development.</p>
        </div>
        <div class="roadmap-item roadmap-done">
          <h6>April 2018</h6>
          <p>Start of the Preparation for the ICO Token Sale</p>
        </div>
        <div class="roadmap-item">
          <h6>October 2018</h6>
          <p>ICO Platform Launched with full solutions</p>
        </div>
        <div class="roadmap-item">
          <h6>January 2019</h6>
          <p>Partnership for the future EcoSystem</p>
        </div>
        <div class="roadmap-item">
          <h6>June 2019</h6>
          <p>ICO Wallet full version release</p>
        </div>
        <div class="roadmap-item">
          <h6>December 2019</h6>
          <p>The firest product ready to goes live to all business</p>
        </div>
        <div class="roadmap-item">
          <h6>March 2018</h6>
          <p>Start of the ICO Crypto Platform Development.</p>
        </div>
        <div class="roadmap-item">
          <h6>April 2018</h6>
          <p>Start of the Preparation for the ICO Token Sale</p>
        </div>
      </div>
      </div>
  </div><!-- .container  -->
</div>