<!-- Start Section -->
<div class="section section-pad status-section section-bg-light-alt" id="token">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Token Distribution</h2>
    </div>
    <div class="row event-info">
      <div class="col-md-4 col-sm-6">
        <div class="event-single-info animated" data-animate="fadeInUp" data-delay=".2">
          <h6>Start</h6>
          <p>Feb 8, 2018 (9:00AM GMT)</p>
        </div>
      </div><!-- .col  -->
      <div class="col-md-4 col-sm-6">
        <div class="event-single-info animated" data-animate="fadeInUp" data-delay=".3">
          <h6>Number of tokens for sale</h6>
          <p>900,000 ICC (9%)</p>
        </div>
      </div><!-- .col  -->
      <div class="col-md-4 col-sm-6">
        <div class="event-single-info animated" data-animate="fadeInUp" data-delay=".4">
          <h6>End</h6>
          <p>Feb 20, 2018 (11:00AM GMT)</p>
        </div>
      </div><!-- .col  -->
      <div class="col-md-4 col-sm-6">
        <div class="event-single-info animated" data-animate="fadeInUp" data-delay=".5">
          <h6>Tokens exchange rate</h6>
          <p>1 ETH = 650 ICC, 1 BTC = 1940 ICC</p>
        </div>
      </div><!-- .col  -->
      <div class="col-md-4 col-sm-6">
        <div class="event-single-info animated" data-animate="fadeInUp" data-delay=".6">
          <h6>Acceptable currencies</h6>
          <p>ETH, BTC, LTC</p>
        </div>
      </div><!-- .col  -->
      <div class="col-md-4 col-sm-6">
        <div class="event-single-info animated" data-animate="fadeInUp" data-delay=".7">
          <h6>Minimal transaction amount</h6>
          <p>1 ETH/ 1 BTC/ 1 LTC</p>
        </div>
      </div><!-- .col  -->
    </div><!-- .row  -->

    <div class="gaps size-3x"></div><div class="gaps size-3x d-none d-lg-block"></div><!-- .gaps  -->

    <div class="row text-center">
      <div class="col-md-6">
        <div class="single-chart light res-m-btm animated" data-animate="fadeInUp" data-delay=".8">
          <div>
            <img src="images/chart-lavendar-a.png" alt="chart">
          </div>
        </div>
      </div><!-- .col  -->

      <div class="col-md-6">
        <div class="single-chart light animated" data-animate="fadeInUp" data-delay=".9">
          <div>
            <img src="images/chart-lavendar-b.png" alt="chart">
          </div>
        </div>
      </div><!-- .col  -->
    </div><!-- .row  -->

  </div><!-- .container  -->
</div>
<!-- End Section -->