<div class="section team-section section-pad section-bg-blend nopb" id="subscribe">
  <div class="container">
    <div class="section-head-s3 text-center">
        <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Join our Beta Program</h2>
      </div>
    <div class="row  justify-content-center text-center">
      <div class="col-lg-6 res-l-bttm">
        <div class="subscribe-rounded">
          <h5 class="animated" data-animate="fadeInUp" data-delay=".1">Participate in an exclusive opportunity to harness the power of AI in your business.</h5>
          <p class="animated" data-animate="fadeInUp" data-delay=".2">Submit your email or <a href="mailto:hello@staple.io">contact us</a> to participate in our Closed Beta Program.</p>
          <form id="subscribe-form" action="form/subscribe.php" method="post" class="subscription-form animated" data-animate="fadeInUp" data-delay=".3">
            <input type="text" name="youremail" class="input-round required email" placeholder="Enter your email" >
            <input type="text" class="d-none" name="form-anti-honeypot" value="">
            <button type="submit" class="btn">Let me know</button>
            <div class="subscribe-results"></div>
            <br/><br/><br/><br/><br/><br/><br/><br/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>