<div class="section team-section section-pad section-fix" id="team">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Our Team</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 d-inline-flex justify-content-center">
        <div class="team-described animated" data-animate="fadeInUp" data-delay=".2">
          <div class="d-flex">
            <div class="team-info">
              <h5 class="team-name">Ben Stein</h5>
              <span class="team-title">CEO</span>
              <ul class="team-social">
                <li><a href=""><em class="fab fa-facebook-f"></em></a></li>
                <li><a href=""><em class="fab fa-linkedin-in"></em></a></li>
                <li><a href=""><em class="fab fa-twitter"></em></a></li>
              </ul>
            </div>
            <div class="team-photo">
              <%= image_tag "/assets/ben.jpg", alt: "ben"%>
            </div>
          </div>
          <ul class="team-discription">
            10+ years as a Chartered Accountant, CFO and consultant to corporates and private equity houses. Formal qualifications in law (LLB), business (BCom), accounting (CA) and fullstack web development.
          </ul>
        </div>
      </div><!-- .col  -->

      <div class="col-md-6 col-lg-6 d-inline-flex justify-content-center">
        <div class="team-described animated" data-animate="fadeInUp" data-delay=".4">
          <div class="d-flex">
            <div class="team-info">
              <h5 class="team-name">Dr Joshua Kettlewell</h5>
              <span class="team-title">CTO</span>
              <ul class="team-social">
                <li><a href=""><em class="fab fa-facebook-f"></em></a></li>
                <li><a href=""><em class="fab fa-linkedin-in"></em></a></li>
                <li><a href=""><em class="fab fa-twitter"></em></a></li>
              </ul>
            </div>
            <div class="team-photo">
              <%= image_tag "/assets/josh.jpg", alt: "josh" %>
            </div>
          </div>
          <ul class="team-discription">
            PhD in Computer Science, including Mathematics, Quantum Information and Cryptography. Vast experience in machine learning and natural language processing.
          </ul>
        </div>
      </div><!-- .col  -->
      <div class="col-md-6 col-lg-4 d-inline-flex justify-content-center">
    </div><!-- .row  -->
  </div>
</div>