<div class="section team-section section section-pad no-pb section-bg" id="team">
  <div class="container">
    <div class="section-head-s3 text-center">
      <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Our Team</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 d-inline-flex justify-content-center">
        <div class="team-described animated" data-animate="fadeInUp" data-delay=".2">
          <div class="d-flex">
            <div class="team-info">
              <h5 class="team-name">Ben Stein, <br>CA</h5>
              <span class="team-title">CEO</span>
              <ul class="team-social">
                <li><a href="https://www.linkedin.com/in/bpstein" target="_blank"><em class="fab fa-linkedin-in"></em></a></li>
                <li><a href="https://medium.com/@benstein" target="_blank"><em class="fab fa-medium"></em></a></li>
                <li><a href=""><em class="fab fa-twitter"></em></a></li>
              </ul>
            </div>
            <div class="team-photo">
              <%= image_tag "/assets/ben.jpg", alt: "ben"%>
            </div>
          </div>
          <br/>
          <ul class="team-discription">
            10+ years as a Chartered Accountant, CFO and consultant to corporates and private equity houses. Formal qualifications in law (LLB), business (BCom), accounting (CA) and fullstack web development.
          </ul>
        </div>
        <br/><br/><br/><br/>
      </div><!-- .col  -->

      <div class="col-md-6 col-lg-6 d-inline-flex justify-content-center">
        <div class="team-described animated" data-animate="fadeInUp" data-delay=".4">
          <div class="d-flex">
            <div class="team-info">
              <h5 class="team-name">Dr Joshua Kettlewell</h5>
              <span class="team-title">CTO</span>
              <ul class="team-social">
                <li><a href=""><em class="fab fa-linkedin-in"></em></a></li>
                <li><a href=""><em class="fab fa-twitter"></em></a></li>
              </ul>
            </div>
            <div class="team-photo">
              <%= image_tag "/assets/josh.jpg", alt: "josh" %>
            </div>
          </div>
          <br/>
          <ul class="team-discription">
            Previously of National University of Singapore (NUS) and Singapore University of Technology and Design (SUTD).  Expert in cryptography, machine learning, natural language processing and complex models.
          </ul>
        </div>
        <br/><br/><br/><br/>
      </div><!-- .col  -->
      <div class="col-md-6 col-lg-4 d-inline-flex justify-content-center">
    </div><!-- .row  -->
  </div>
</div>
<br/><br/><br/><br/><br/>